<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880556040158-etvinpvnkb6johbjcj4qp0ak046662sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880556040158-etvinpvnkb6johbjcj4qp0ak046662sf</string>
	<key>API_KEY</key>
	<string>AIzaSyB3lz0D8qiAXUVytK1r-moHx5y6D1Wo-Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>880556040158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRedditClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-reddit-clone-24599</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-reddit-clone-24599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880556040158:ios:2ee8379677c7f005aac74f</string>
</dict>
</plist>